#body {
    margin: 0;
    background-color: rgb(209, 203, 203);
    font-family: sans-serif;
}

.head {
    color: black;
    margin: auto;
    font-size: xx-large;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 600;
    font-style: normal;
}
.nav {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
a:hover {
    color: rgb(255, 112, 136);
}
a {
    color: grey;
    text-decoration: none;
}

.image {
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 15rem;
}
#txtnavtrans {
    color: transparent;
}
#me {
    font-family: sans-serif;
    display: block;
    align-items:flex-start;
    margin-left: 30%;
}
.h1 {
    margin: 10px;
    display: block;
}
.button-discord {
    margin-top: 50px;
    margin-left: 45%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: grey;
    width: 200px;
    height: 30px;
    text-size-adjust: 20px;
    margin-bottom: 30px;
    text-decoration-color: aliceblue;
    color: rgb(0, 81, 255);
    margin-left: 40%;
}
.button-discord:hover {
    border-radius: 15px;
}
#footer {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.logos {
    width: 10%;
    margin-left: 45%;
}
.impressum {
    font-family: sans-serif;
    margin-left: 45%;
    font-size: large;
}
.antispam {
    margin-top: 50px;
    margin-left: 45%;
}